h1 {
    color: black;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    color:black;
    font-family:'Be Vietnam', sans-serif;

}

p {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}