body {
    background-color: white;
}

nav ul {

    color: rgb(1, 5, 17);
}

p {
    color: #2B3A67;
    font-family: 'Jura', sans-serif;
}

h1 {
    color: dimgray;
    font-family: 'Times New Roman', Times, serif;
}