body {
    background-color: white;
}

nav ul {

    color: #BAD8E2;
}

h1 {
    color: #D1D1D1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

h2 {
    color: #EFFFFF;
     font-family: 'Jura', sans-serif;
     font-size: 30px;
}

p {
    color: #EFFFFF;
    font-family: 'Jura', sans-serif;
    font-size: 28px;
}
h3 {
    color: #EFFFFF;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
}





