body {
    background-color: white;
    background-image: url(https://www.bestfunforall.com/better/imgs/Website%20wallpaper%20%201.png);
}

nav ul {

    color: #BAD8E2;
}

h1 {
    color: #D1D1D1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

h2 {
    color: #EFFFFF;
     font-family: 'Jura', sans-serif;
     font-size: 27px;
}





